html, body {
    min-height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
}


body {
    background-color: #fff;
    color: #333;
}

h1 {
  text-align: center;
  color: #0f4e40;
  margin-bottom: 30px;
  margin-top: 25px;
}


/* Container φόρμας */
.register-container {
width: 100%;
justify-content: center;
margin-bottom: 40px;
}

.register-section {
background: #ffffff;
width: 100%;
max-width: 600px;
padding: 25px 30px 30px;
border-radius: 10px;
box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

/* Labels & inputs */
.register-section label {
display: flex;
flex-direction: column;
margin-bottom: 15px;
font-size: 14px;
}

.register-section label strong {
margin-bottom: 6px;
}

.register-section input[type="text"] {
padding: 10px 12px;
border: 1px solid #ccc;
border-radius: 6px;
font-size: 14px;
transition: border-color 0.2s, box-shadow 0.2s;
}

/* ---- Απαλό Placeholder ---- */
.register-section input[type="text"]::placeholder {
  color: #999;
  font-weight: normal;
  opacity: 1;
}

.complete-registration {
  background-color: #0f4e40;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 15px;
  font-size: 14px;
  cursor: pointer;
  transition: 0.3s;
  text-decoration: none;
}

.btn:hover {
    background-color: #0b3a33;
}

/* ======== TOPBAR ======== */
.topbar {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background: #0f4e40;
  height: 50px;
  padding: 0 50px;
  position: sticky;
  top: 0;
  z-index: 150;
  width: 100%;
  box-sizing: border-box;
}

.topbar a {
  color: white;
  font-weight: bold;
  margin-left: 15px;
  font-size: 20px;
}
