@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@700&display=swap');

body {
    background-image: url('../images/backround1.PNG');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: 'Arial', sans-serif;
    position: relative; /* Για να δουλέψει η τοποθέτηση του τίτλου */
}

.title {
    font-family: 'Orbitron', sans-serif;
    font-size: 60px;
    color: white;
    text-transform: uppercase;
    letter-spacing: 5px;
    position: absolute;
    top: 20px;
    left: 20px;
    text-shadow: 2px 2px 10px rgba(0,0,0,0.7);
}

/* Μενού */
.menu {
    background: linear-gradient(145deg, #5f8a8b, #9ac4c0);
    padding: 40px;
    border-radius: 20px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.4), inset 0 -5px 10px rgba(255,255,255,0.1);
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: center;
    border: 2px solid #3b6a67;
}

.menu button {
    padding: 15px 30px;
    font-size: 18px;
    border: 2px solid #0f4e40;
    border-radius: 12px;
    background: linear-gradient(145deg, #0f4e40, #1b665b);
    color: white;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0 5px 15px rgba(0,0,0,0.3), inset 0 -2px 5px rgba(255,255,255,0.2);
    text-transform: uppercase;
    font-weight: bold;
}

.menu button:hover {
    background: linear-gradient(145deg, #1b665b, #0f4e40);
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0,0,0,0.4), inset 0 -2px 5px rgba(255,255,255,0.3);
}

.menu button.active {
    background: linear-gradient(145deg, #144238, #0f4e40);
    box-shadow: 0 10px 25px rgba(0,0,0,0.5), inset 0 -2px 5px rgba(255,255,255,0.3);
}


.footer-text {
    font-family: 'Orbitron', sans-serif;
    font-size: 24px;
    color: white;
    text-transform: uppercase;
    letter-spacing: 2px;
    position: absolute;
    bottom: 20px;
    right: 20px;
    text-shadow: 1px 1px 5px rgba(0,0,0,0.7);
}
